.root {
  background: url("../../images/shopStore-min.jpg");
  margin-top: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 84vh;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 2% 95%);

}

.banner{
    text-align: center;
    font-size: 5em;
    padding: 23% 0%;
    color: #d44645;
    /* transform: translate(-50%, -50%); */
    text-shadow: 3px 5px 1px black;
    font-weight: 900;
}
